.about-page{
    .image-container{
        position:fixed;
        left: 60%;
        top: 20%;
        display: flex;
        justify-content: flex-end;
        height: 65%;
        max-width: 65%;
        overflow: visible;
    }

    img{
        border-radius: 30%;
    }

}