.home-page{
    .image-container{
        position:fixed;
        left: 60%;
        top: 30%;
        display: flex;
        justify-content: flex-end;
        max-height: 50%;
        max-width: 50%;
        overflow: visible;
    }

    img{
        border-radius: 50%;
    }

}